html {
  box-sizing: border-box;
  font: normal 1rem/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.link-card {
  display: block;
  padding: 1rem;
  background-color: #dcd4cd;

  border-color: #9a816d;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;

  text-decoration: none;
  color: #512200;
}

.link-card h2 {
  margin: 0;

  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.link-card p {
  margin: 0;
}

.link-card dl {
  display: block;
  padding: 0;
  margin: 0;

  border-top: 2px solid #9a816d;

  list-style-type: none;
  font-size: .875rem;
}

.link-card dt, .link-card dd {
  display: inline-block;
  margin: 0;
  width: 49%;
}

.btn {
  background-color: #785439;

  border-radius: 8px;

  color: white;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

/*
- *Paddings*: `1rem`, `.4em .75em .5em`
- *Margins*: `0 0 1rem`
- *Colours*: `#785439`, `#cabdb2`, `#512200`, `#9a816d`, `#dcd4cd`, `#f0eee8`
- *Border widths*: `3px`, `2px`
- *Border radii*: `3px`, `8px`
*/
