html {
  box-sizing: border-box;
  font: normal 1rem/1.5 Georgia,serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}

dl {
  font-size: .875rem;
}

span {
  1.125rem;
}

/*
- *Line heights*: `1.5`
- *Paddings*: `1rem`, `.4em .75em .5em`
- *Margins*: `0 0 1rem`
- *Colours*: `#785439`, `#cabdb2`, `#512200`, `#9a816d`, `#dcd4cd`, `#f0eee8`
- *Border widths*: `3px`, `2px`
- *Border radii*: `3px`, `8px`
- *Expected classes*: `.link-card`
*/
